body {
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: 0px;
 background-image: url("image/kayra-sercan-v10lH6UUEGw-unsplash.jpg");
 background-size: 100%;
 
 
}
header {
    margin-bottom: 800px;
    margin-left: 200px;
    color: white;
    background-size:contain;
    background-color: blue;
  text-align: center;
    

}

.card {
    background-color: black;
    color: white;
   padding:2em;
   border-radius:20px;
    width:100%;
    
    
}

.search {
    display: flex;
    align-items: center;
    justify-content:center;
    border: radius 20px; px;
}

button {
background-color:skyblue;
color: black;
}
input {
    border-radius: 10%;
}